// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.btn-info{
    color: white;
}

.channel-avatar{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    opacity: 0.3;
    position: relative;
    // cursor: pointer;
}

.channel-avatar-overlay{
    display: none;
}


.channel-avatar-overlay{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}